<strong>Sentimos a sua falta</strong>

<p style="align: center">Olá {{ message.name }}, tudo bem com você?</p>
<p style="align: center">Percebemos que você não aposta a uns dias, e estamos sentindo saudades :(</p>
<p style="align: center">Você pode estar perdendo a sua melhor chance de ganhar uma bolada extra, e poder comprar aquele carro ou casa dos seus sonhos</p>
<p style="align: center">Te convidamos a fazer algumas apostinhas, bora?</p>
<p style="align: center">Abraços a distancia.</p>
<p style="align: rith">Equipe TGL</p>


