<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(51, 51, 51);
        background-color: rgb(250, 250, 250);
    }

    p {
        text-align: left
    }

    strong{
        color: greenyellow;
        font-weight: bold;
        font-size: 18pt;
    }
    
</style>
<p>Olá {{ user.first_name }}, tudo bem com você?</p>
<p>Percebemos que você não aposta a uns dias, e estamos sentindo saudades :(</p>
<p>Você pode estar perdendo a sua melhor chance de ganhar uma bolada extra, e poder comprar aquele carro ou casa dos seus sonhos</p>
<p>Te convidamos a fazer algumas apostinhas, bora?</p>
<p>Abraços a distancia.</p>
<strong>TGL</strong>