<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(51, 51, 51);
        background-color: rgb(250, 250, 250);
    }

    p {
        text-align: left
    }

    strong{
        color: greenyellow;
        font-weight: bold;
        font-size: 18pt;
    }
    
</style>
<p>Olá {{ user.first_name}}, tudo belê??</p>
<p>Seguinte, alguem tentou recuperar a sua senha, pois não estava lembrando dela, por acaso foi vocë mesmo?</p>
<p>Se não for vocë, aconselho a trocar de senha, pois nunca se sabe né</p>   
<p>Mas se foi, pode continuar com a recuperação da senha utilizando o token <i> [ {{ user.token }} ] </i> ou com o link abaixo.</p>
<a href="{{ message.link }}">Criar nova senha</a>
<p>Abraços a distancia.</p>
<strong>TGL</strong>
