<strong>Boas vindas</strong>

<p style="align: center">Olá {{ message.name }}!</p>
<p style="align: center">Seja bem-vindo ao melhor site para gerenciamento de apostas da internê!</p>
<p style="align: center">Iremos utilizar esse e-mail para enviar as ultimas noticias, novidades e alertas de apostas, ok?</p>
<p style="align: center">Desejamos muito sucesso em suas apostas, e, se ficar milionário, ficaremos muito honrados em receber uma doação :)</p>
<p style="align: center">Abraços a distancia.</p>
<p style="align: rith">Equipe TGL</p>


