<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(51, 51, 51);
        background-color: rgb(250, 250, 250);
    }

    p {
        text-align: left
    }

    strong{
        color: greenyellow;
        font-weight: bold;
        font-size: 18pt;
    }
    
</style>

<p>Olá {{ user.first_name }}!</p>
<p>Seja bem-vindo ao melhor site para gerenciamento de apostas da internê!</p>
<p>Iremos utilizar esse e-mail para enviar as ultimas noticias, novidades e alertas de apostas, ok?</p>
<p>Desejamos muito sucesso em suas apostas, e, se ficar milionário, ficaremos muito honrados em receber uma doação :)</p>
<p>Abraços a distancia.</p>
<strong>TGL</strong>


